<ul class="unordered-list-element">
  <label class="form-check-label">
    <input class="checkbox" type="checkbox" id="todo" />
    <label for="todo"><%= toDo %></label>
    <i class="input-helper"></i>
  </label>
</ul>
