<ul class="unordered-list-element">
  <form class="list-form" action="/delete" method="post">
    <input
      name="checkbox"
      class="checkbox"
      type="checkbox"
      id="todo"
      onchange="submit()"
      value="<%= id %>"
    />
    <label for="todo"><%= toDo %></label>
    <i class="input-helper"></i>
  </form>
</ul>
