<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="errorPage.css" />
    <title>oops!</title>
  </head>
  <body>
    <h1>You have done something we didn't expect!</h1>
    <h2>Our Frontend engineers have failed us ☹️</h2>
    <h2>Please press the back button and start over</h2>
  </body>
</html>